@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body
{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('anh-nen-may-tinh-full-hd-1920x1080-dep-nhat-800x450.jpg');
    background-position: center;
    background-size: cover;
}
navbar {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template: 90px;
    background-color: rgb(198, 197, 167);
    background: blur(5px);
    width: 950px;
    height: 650px;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    max-width: 500em;
    display: flex;
    margin: auto;
    margin-top: 3vh;
    justify-content: space-around;
    padding: 20px 0;
    background-color: #f1f1f1;
    box-shadow: 9px 8px 20px #f30568, -8px 8px 20px #ff0404;
    border-radius: 30px;
}
img {
    border-radius: 100%;
    border: 2px soild #a1a1a1;
    height: 800px;
    margin: 80px;
    padding: 10px;
    text-align: center;
    width: 300px;
}
.logo {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.logo img {
    width: 200px;
    height: 205px;
    border-radius: 100%px;
    justify-content: space-around;
    background-color: #fdfbfb;
    box-shadow: 10px 8px 20px #f30568, -8px 8px 20px #ff0404;
    border-radius: 30px;
}
.login 
{
    width: 600px;
    height: 600px;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.box1
{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
}
.box2 .input , .box3 .input 
{
    display: flex;
    width: 100%;
    height: 40px;
    font-size: 30px;
    padding-left: 40px;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(248, 5, 5);
}
 ::placehoder
 {
    font-size: 18px;
    color: rgb(247, 14, 134);
 }
 .box2 i
 {
    position: absolute;
    top: 41%;
    transform: translateY(-50%);
    font-size: 20px;

 }
 .box3 i
 {
    position: absolute;
    top: 49%;
    transform: translateY(-50%);
    font-size: 20px;
    margin-bottom: 20px;
 }
 .box4
 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 30px;
 }
 .box4 a 
 {
    text-decoration: none;
    color: black;
 }
 .box5 button
 {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 25px;
    font-weight: 700 ;
    margin-bottom: 30px;
    background-color: rgb(6, 6, 6);
    color: white;
 }
 .box6
{
    text-align: center;
    font-size: 30px;
    width: 30px;
    height: 30px;
    font-weight: 600;
    margin-left: 243px;
    margin-bottom: 40px;
}
.box7 
{
    display: flex;
    justify-content: space-between;
    transform: scale(1);
}
.box7 a
{
    width: 250px;
    height: 36px;
    border: 3px solid rgb(249, 245, 245);
    text-decoration: none;
    color: white;
    border: 20%;
}
.box7 .a1
{
    background-color: #1b74e4;
    text-align: center;
}
.box7 .a2
{
    background-color: #07c0fe;
    text-align: center; 
}
.box7 .a3 
{
    background-color: #1b74e4;
    text-align: center;
}
.box8
{
    font-size: 15px;
    display: flex;
    width: 100%;
    height: 10px;
}
.nav {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: space-around;
}
.parent-link {
    font-size: 1.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} 
.home {
    max-width: 30em;
    display: flex;
    margin: auto;
    margin-top: 3vh;
    justify-content: space-around;
    padding: 20px 0;
    background-color: #f1f1f1;
    box-shadow: 8px 8px 20px #fdfbfc, -8px 8px 20px white;
    border-radius: 30px;
}
.home a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 89px;
    height: 89px;
    border-radius: 50%;
    box-shadow: 5px 5px 8px #acacac, -5px -5px 8px white;
    font-size: 0.8em;
    color: black;
    text-decoration: none;
}
.home a:active {
    box-shadow: 5px 5px 10px #f803c3 inset, -5px -5px 10px rgb(238, 4, 140) inset;
}
.home a {
    text-decoration: none;
    color: #0b0000;
    font-size: 1em;
    font-weight: 550;
    margin-left: 1em;
    position: relative;
}
.home a::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background-color: #f10687;
    bottom: -6px;
    transform: scale(0);
    transition: .5s;
}
.home a:hover {
    color: #0798ec;
}
.home a:active {
    box-shadow: 5px 5px 10px #04caed inset, -5px -5px 10px rgb(9, 249, 165) inset;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #FFA17F;
    background: -webkit-linear-gradient(to right, #00223E, #FFA17F);
    background: linear-gradient(to right, #00223E, #FFA17F);
  }
#dong_ho h2{
    position: relative;
    display:block;
    color:#fff;
    text-align: center;
    margin:10px 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.4em;
}
#dong_ho #thoi_gian{
    display:flex;
}
#dong_ho #thoi_gian div{
    position: relative;
    margin: 0 5px;
}
#dong_ho #thoi_gian div span{
    position: relative;
    display:block;
    width:200px;
    height: 160px;
    background: #2196f3;
    color: #fff;
    font-weight: 300;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    z-index:3;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
}
#dong_ho #thoi_gian span:nth-child(2){
    height: 65px;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    z-index: 2;
    box-shadow: none;
    background:#127fd6;
    text-transform: uppercase;
}
#dong_ho #thoi_gian div:last-child span {
    background: #ff006a;
}
#dong_ho #thoi_gian div:last-child span:nth-child(2) {
    background: #ec0062;
}
#dong_ho #thoi_gian div{
    position: relative;
    margin: 0 5px;
    -webkit-box-reflect: below 10px linear-gradient(transparent, #0004);
}


